#root {
  padding: 0;
  height: 100%;
  background-color: lightblue;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1em 1em;
  justify-content: space-evenly;
  align-items: center;
}
.photo {
  padding: 0.5em;
}