@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

#root {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
}
.navbar {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background: radial-gradient(circle, rgba(0,63,107,1) 43%, rgba(0,122,209,1) 100%);
}

.navbar__title {
    font-family: 'Kelly Slab';
    margin: 1em 0;
    font-size: 2em;
    font-weight: 900;
    color: white;
    -webkit-text-stroke: 5px rgba(0, 21, 73, 1);
    paint-order: stroke fill;
}

.navbar__search-container {
    margin: 2em 0 1em 0;
    width: 55%;
    display: flex;
    flex-direction: column;
}
.navbar__search-container__input {
    background-color: white;
    color: rgba(0, 63, 107, 1);
    padding: 0.3em 1em;
    outline: none;
    border: none;
    border-radius: 0.3em 0.3em 0 0;
}
::placeholder {
    font-family: 'Inter';
    padding: 0.2em 0;
    color: rgba(0, 63, 107, 1);
}
.navbar__search-container__button {
    font-family: 'Inter';
    box-shadow: 1px 6px 0px 0px rgba(0, 0, 0, 0.25);
    background-color:rgba(57, 173, 255, 1);
    padding: 0.2em 0;
    outline: none;
    border: none;
    border-radius: 0 0 0.3em 0.3em;
}
.navbar__search-container__button:active {
    background-color:rgba(28, 117, 181, 1);
}
.navbar__page__button {
    font-family: 'Inter';
    box-shadow: 1px 4px 0px 0px rgba(0, 21, 73, 0.25);
    background-color:rgba(57, 173, 255, 1);
    padding: 0.2em 2em;
    border: none;
    border-radius: 0.3em;
    height: 30%;
    align-self: center;
}
.navbar__page__button:active {
    background-color:rgba(28, 117, 181, 1);
}
.footer {
    display: flex;
    justify-content: space-between;
    bottom: 0;
    margin: 0;
    margin-top: auto;
    width: 100%;
    background: radial-gradient(circle, rgba(0,63,107,1) 43%, rgba(0,122,209,1) 100%);
}
.footer__text {
    margin-left: 2em;
    line-height: 0.5em;
}
.footer__creator {
    margin: 0 1em 0 0;
    text-align: right;
}
.footer__creator p {
    margin: 1em 0 0.5em 0;
}
.footer__logos {
    width: 30px;
    height: 30px;
}
@media (max-width: 1024px) {
    .navbar {
        align-items: center;
        top: 0;
    }
    .navbar__search-container {
        margin: 0;
        width: 55%;
        display: flex;
        flex-direction: column;
    }
}